<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to {{ title }}!</h1>
    <p class="lead">This is an app to track zoo animals. <i class="fa fa-check"></i></p>
    <button (click)="addButtonClick()" class="btn btn-dark">Add Animal</button>
    <age-search></age-search>
  </div>
  <div class="row">
    <new-animal (newAnimal)="addAnimal($event)" *ngIf="addButton"></new-animal>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let animal of animals | age:filterByAge">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{animal.name}}, {{animal.species}}.</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: {{animal.age}}</li>
            <li class="list-group-item">
              Diet:
              <span [ngClass]="animalDiet(animal)">{{animal.diet}}</span>
              </li>
            <li class="list-group-item">Location: {{animal.location}}.</li>
            <li class="list-group-item">Caretakers: {{animal.caretakers}}.</li>
            <li class="list-group-item">Gender: {{animal.sex}}.</li>
            <li class="list-group-item">Likes: {{animal.likes}} <br> Dislikes: {{animal.dislikes}}</li>
          </ul>
        </div>
        <button (click)="editAnimal(animal)" class="btn btn-dark">Edit</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card edit">
     <div class="card-body" *ngIf="selectedAnimal">
       <h3>Edit Animal</h3>
       <div class="form-group">
         <label>Name:</label>
         <input [(ngModel)]="selectedAnimal.name">
       </div>
       <div class="form-group">
         <label>Age:</label>
         <input [(ngModel)]="selectedAnimal.age">
       </div>
       <div class="form-group">
         <label>Caretakers:</label>
         <input [(ngModel)]="selectedAnimal.caretakers">
       </div>
       <button class="btn btn-dark" (click)="editAnimal(null)">Done</button>
     </div>
   </div>
</div>
