<div class="card edit">
 <div class="card-body">
   <h3>Edit Animal</h3>
   <div class="form-group">
     <label>Name:</label>
     <input [(ngModel)]="childSelectedAnimal.name">
   </div>
   <div class="form-group">
     <label>Age:</label>
     <input [(ngModel)]="childSelectedAnimal.age">
   </div>
   <div class="form-group">
     <label>Caretakers:</label>
     <input [(ngModel)]="childSelectedAnimal.caretakers">
   </div>
   <button class="btn btn-dark" (click)="doneButtonClicked()">Done</button>
 </div>
</div>
